# Byte-compiled
__pycache__/
*.py[cod]
*\$py.class

# Environmental variables for development
.env

# Pytest
.pytest_cache/

# PyQt
*.ui
*.qrc

# VSCode
.vscode/

# FFMpeg repository
ffmpeg/

# Local dependecies
deps/

# Data directory
data/

# Video files
*.360
*.mp4
